<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <a href="/signin"><button>Sign In</button></a>
    <h2>Sign In</h2>
    <form action="/signin" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <p><input type="submit" value="Sign In"></p>
    </form>
    <a href="/register">Don't have an account? Register</a>
</body>
</html>