<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user.first_name}}'s Wall</title>
</head>
<body>
    <a href="/dashboard"><button>Dashboard</button></a>
    <a href="/users/edit"><button>Profile</button></a>
    <a href="/logout"><button>Log off</button></a>
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <p>Registered at: {{user.created_at|date:"M d, Y"}}</p>
    <p>User ID: #{{user.id}}</p>
    <p>Email address: {{user.email}}</p>
    <p>Description: {{user.description}}</p>
    <h2>Leave a message for {{user.first_name}}</h2>
    <form action="/users/addmessage/{{user.id}}" method="post">
        {% csrf_token %}
        {{ messform }}
        <input type="submit" value="Post message">
    </form>
    {% for message in messages %}
        <p>{{message.message}}</p>
        {% for comment in comments %}
            {% if message.id == comment.message_id %}
            <p>{{comment.comment}}</p>
            {% endif %}
        {% endfor %}
        <form action="/users/addcomment/{{user.id}}/{{message.id}}" method="post">
            {% csrf_token %}
            {{ commform }}
            <input type="submit" value="Post comment">
        </form>
    {% endfor %}
</body>
</html>